.v-application {
  font-family: 'Lato', sans-serif !important;
}

.v-btn {
  letter-spacing: 0 !important;
  text-transform: unset !important;
}

.v-text-field--rounded>.v-input__control>.v-input__slot {
  min-height: 10px !important;
  height: 50px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  font-style: italic;
  border-radius: 50px !important;


  @media screen and (max-width: 600px) {
    font-size: unset !important;

  }

  @media screen and (max-width: 400px) {
    font-size: unset !important;
    // min-width: 100px;
  }
}

.container {
  @media (max-width: 1024px) {
    padding: 2rem !important;
  }
}
